<div class="content-padding">
  <div class="d-flex flex-row justify-content-between">
    <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
    <%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

    <div id="cart_items_overview">
      <%= render 'cart_items', local: @cart %>
    </div>

    <%= render 'cart_total_overview', local: @cart %>
  </div>
</div>
