<footer class="text-light d-flex justify-content-center flex-column" style="background-color:#3D3D3D;">
  <div class="d-flex justify-content-center align-items-center footer flex-column">
    <div class="w-75 d-flex justify-content-center align-items-center flex-column">
      <i class="bi bi-gem" style="font-size:56px;"></i>
      <p class="fs-1 d-flex justify-content-center flex-column">
        <%= I18n.t('.layouts.footer.find_out_more') %>
        <span class="d-flex justify-content-center"> <%= I18n.t('.layouts.footer.github') %></span>
        <a href="https://github.com/noble-sun/shopRR" target="_blank"
          class="link-light fst-italic fw-semibold d-flex justify-content-center"
        >ShopRR</a>
      </p>
    </div>
  </div>
  <hr class="m-0">
  <div class="d-flex justify-content-center align-items-center p-4">
    Copyright &#169; 2025
  </div>
</footer>
